<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/css/images/siteicon.png" />
    <meta charset="UTF-8">
    <title>Главная Админа</title>
    <link rel="stylesheet" href="src/main/resources/static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body class="main-body">


<center>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Представленные модели</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">

                <a href="/requests" class="btn btn-success btn-block mb-3 animated-button">
                    <form>Заявки</form>
                </a>
                <br><br>
<!--                <a href="main" class="btn btn-success btn-block mb-3 light-animated-button">-->
<!--                    <form>На сайт</form>-->
<!--                </a>-->
                <a href="/requests/create" class="btn btn-success btn-block mb-3 light-animated-button">
                    <form>На сайт</form>
                </a>
<!--                <a href="/requests/create" class="add-btn">На сайт 2</a> <br><br>-->


            </div>
        </div>
    </div>
</center>

</body>
</html>
